<!-- index.html -->

<%= render partial: "partials/hot_news_marquee" %>

<!-- slider, hot albums, latest albums, f-status, ads -->
<div class="global-index-main-wrapper container">

  <!-- slider + albums -->
  <div class="global-index-main-col">
    <ul class="global-index-slider">

      <!-- slider unit -->
      <li>
        <!-- image -->
        <div class="slider-content-wrapper" style="background-image: url(<%= asset_path 'assets/index-slider-image.jpg' %>);">
          <!-- caption -->
          <div class="slider-caption">
            <span><德古拉：永咒傳奇 Dracula Untold></span>
          </div>
        </div>
      </li>

      <!-- slider unit -->
      <li>
        <!-- image -->
        <div class="slider-content-wrapper" style="background-image: url(<%= asset_path 'assets/index-slider-image2.jpg' %>);">
          <!-- caption -->
          <div class="slider-caption">
            <span>< 模仿遊戲 The Imitation Game></span>
          </div>
        </div>
      </li>

      <!-- slider unit -->
      <li>
        <!-- image -->
        <div class="slider-content-wrapper" style="background-image: url(<%= asset_path 'assets/index-slider-image3.jpg' %>);">
          <!-- caption -->
          <div class="slider-caption">
            <span>< 黑帽駭客 blackhat></span>
          </div>
        </div>
      </li>

    </ul>
  </div>

  <!-- status + ads -->
  <div class="global-index-side-col">
    2
  </div>

</div>
