<div class="user-diary-latest-list">
  <div class="title-wrapper">
    <h3 class="title">最新網誌</h3>
  </div>
  <div class="user-diary-list">
    <% diaries.each do |diary| %>
      <%= link_to user_diary_path(diary.user, diary), :class => "diary-unit" do %>
        <div class="diary-cover-img">
          <%= render_diary_featured_img(diary, "thumb") %>
        </div>
        <div class="diary-title">
          <h4><%= diary.title %></h4>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
