<div class="user-cover-image" style="background-image: url(<%= asset_path 'assets/user-cover.jpg' %>);">
  <div class="hot-news-container">
    <div class="hot-news-title">
      <span>Hot News !></span>
    </div>
    <div class="hot-news-content">
      <ul>
        <li><a href="#"><span>〉</span> 外館打交道多了，但總是被政府拒絕在外，可能有機會深入！</a></li>
        <li><a href="#"><span>〉</span> 婉拒為書寫序，執著於樞紐，對越年輕的朋友來說越是如此。</a></li>
      </ul>
    </div>
  </div>
</div>
