<div class="user-status-form-wrapper">
  <div class="user-status-form-avatar">
    <% if !current_user %>
      <%= image_tag 'assets/user-avatar.jpg', :class => "img-responsive img-circle" %>
    <% else %>
      <%= image_tag "https://graph.facebook.com/#{current_user.fb_id}/picture?type=large", :class => "img-responsive img-circle" %>
    <% end %>
  </div>
  <div class="user-status-form">
    <div class="user-name">
      <span>
        <% if !current_user %>
          Tim Cook：
        <% else %>
          <%= current_user.name %>：
        <% end %>
      </span>
    </div>
    <form action="">
      <div class="textarea-wrapper">
        <textarea class="form-control" placeholder="想說些什麼？" rows="3"></textarea>
      </div>
      <div class="options-wrapper">
        <div class="submit-btn">
          <button><i class="fa fa-edit"></i> 發表</button>
        </div>
        <div class="histroy-link">
          <a href="#">歷史紀錄</a>
        </div>
      </div>
    </form>
  </div>
</div>
