<div class="user-group-info">
  <h3 class="title"><%= image_tag 'assets/sidebar-icon-group.png' %> 群組</h3>
  <span class="more">看更多〉</span>
  <div class="group-list">
    <ul>
      <li>北門國小同學會</li>
    </ul>
  </div>
</div>
