<div class="user-title-card">
  <div class="user-title-card-avatar">
      <%= image_tag render_avatar(user), :class => "img-responsive img-circle" %>
  </div>
  <div class="user-title-card-info">
    <div class="user-info">
      <h2 class="name">
        <%= render_username(user) %>
      </h2>
      <span class="level">LV <%= render_level(user) %></span>
    </div>
    <div class="user-social-btns">
      <div class="follow">
        <span>＋ 關注</span>
      </div>
      <div class="present">
        <span>送禮</span>
      </div>
    </div>
  </div>
</div>
