<div class="user-diary-comments-list">
  <div class="title-wrapper">
    <h3 class="title">最新留言</h3>
  </div>
  <div class="diary-comments-list">
    <% 3.times.each do |c| %>
      <div class="diary-comment-unit">
        <div class="comment-author">
          <span>麥田吉他手：</span>
        </div>
        <div class="comment">
          <a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, aut. Delectus incidunt ipsam aliquam maiores deleniti sequi autem deserunt quasi excepturi, doloribus in illum, voluptatibus, ut asperiores optio ea quibusdam.</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
