<div class="user-location-info">
  <h3 class="title">位置資訊</h3>
  <span class="more">看更多〉</span>
  <div class="location-list">
    <ul>
      <li>住家：<span>加州</span></li>
      <li>現居：<span>Cyberspace</span></li>
      <li>即時：<span>定位中...</span></li>
    </ul>
  </div>
</div>
