<div class="user-status-info">
  <div class="friends">
    <span class="label">好友</span>
    <span class="number"><%= number_with_delimiter 0, :delimiter => ',' %></span>
  </div>
  <div class="hits">
    <span class="label">人氣</span>
    <span class="number"><%= number_with_delimiter render_viewed_count(user), delimiter: ',' %></span>
  </div>
  <div class="followers">
    <span class="label">追蹤</span>
    <span class="number"><%= number_with_delimiter 0, :delimiter => ',' %></span>
  </div>
  <div class="saves">
    <span class="label">收藏</span>
    <span class="number"><%= number_with_delimiter 0, :delimiter => ',' %></span>

  </div>
</div>
