<div class="user-location-info">
  <h3 class="title">位置資訊</h3>
  <span class="more">看更多〉</span>
  <div class="location-list">
    <ul>
      <li>居住地區：<span><%= user.location %></span></li>
      <li>即時定位：<span>定位中...</span></li>
    </ul>
  </div>
</div>
