<!-- 單則日記 -->
<div class="user-diary-wrapper">

  <!-- 推爆等級 -->
  <div class="user-diary-baku gold-baku">
    <div class="baku">爆</div>
    <span class="number"><%= rand(999) %></span>
  </div>

  <!-- 標題與其他訊息 -->
  <div class="user-diary-info-wrapper">

    <!-- 標題 -->
    <h4 class="user-diary-title">《真愛繞圈圈》</h4>

    <!-- 附加訊息 -->
    <div class="user-diary-subinfo">
      <span class="timestamp">昨天 19:31</span> <span><%= image_tag 'assets/main-icon-viewed.png' %> 瀏覽（<%= number_with_delimiter rand(9999), :delimiter => ',' %>）</span>
    </div>

    <!-- 標籤 -->
    <div class="user-diary-tags">
      <ul>
        <li><i class="fa fa-tag"></i>最新網誌</li>
        <li><i class="fa fa-tag"></i>影評</li>
      </ul>
    </div>
  </div>

  <div class="user-diary-content">
    <p>《真愛繞圈圈》是莉莉柯林斯重新出發，從學生演到少婦的當代都會愛情故事，有別於《天使聖物：骸骨之城》的奇幻愛情冒險電影，《真愛繞圈圈》很務實，在務實到幾乎讓人不忍面對的現實女子成長記事之中，這會兒電影沒有讓其他奇幻的或魔法的炫麗搶走莉莉柯林斯的美麗神采，專心地好好聚焦在莉莉的臉上，終於讓影迷「莉莉柯林斯看到飽」，並且幾乎是每一分每一秒都由莉莉撐完整場電影，如果這樣都還無法讓這位甜姐兒風靡全世界，那影壇上還有什麼讓人期待的趣事可言？</p>
  </div>

  <div class="read-more-btn">
    <%= link_to '看全文〉', user_diary_path(user, id), :class => "more" %>
  </div>

</div>
