<div class="user-visitor-info">
  <h3 class="title">誰來我家</h3>
  <span class="more">看更多〉</span>
  <div class="visitor-list">
    <ul>
      <% @guestbook.each do |record| %>
      <li>
        <%= image_tag render_avatar(record.visitor), :class => "img-responsive img-circle" %>
        <span><%= render_username(record.visitor) %></span>
      </li>
      <% end %>
    </ul>
  </div>
</div>

