<div class="user-content-tabs">
  <ul>
    <li class="active"><a href="#">首頁</a></li>
    <li><%= link_to '日記', users_tim_cook_diaries_path %></li>
    <li><a href="#">相簿</a></li>
    <li><a href="#">留言</a></li>
    <li><a href="#">動態</a></li>
    <li><a href="#">禮物</a></li>
  </ul>
</div>
